:root {
	--white: #ffffff;
	--light-grey: #f8f8f8;
	--grey: #ececec;
	--dark-grey: #abb0af;
	--dark: #02130e;
	--primary: #10bc91;

	font-size: 14px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--light-grey);
	font-family: 'Roboto', sans-serif;
}

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card {
	padding: 50px;
	background: var(--white);
	box-shadow: 0px 1px 3px var(--grey);
	border-radius: 10px;
	max-width: 650px;
	width: 100%;
}

.card-head {
	display: flex;
}

.card-body {
}

.payment {
	padding: 20px 0;
	display: grid;
	grid-template-columns: 20px 1fr 1fr 90px;
	align-items: center;
	gap: 20px;
}

.payment h3 {
	font-size: 1rem;
}

.payment .infos p {
	margin-top: 5px;
	font-size: 12px;
	color: var(--dark-grey);
}

.card-footer {
	margin-top: 70px;
	display: flex;
	justify-content: flex-end;
}

.footer {
	display: flex;
	margin-top: 30px;
}

.btn {
	padding: 13px 46px;
	background: var(--primary);
	color: var(--white);
	border-radius: 6px;
	border: none;
	font-size: 14px;
	font-weight: bold;
}

.btn:hover {
	background: #0d9674;
}
